.btn {
    margin-left: 20px;
    border: none;
    outline: none;
}

button, input, select, textarea {
    border: none;
    outline: none;
}

.table {
    margin: 0 5px;
    width: 1000px;
}

.table tr:nth-child(2n+1) {
    background: #fff;
}

.table tr:nth-child(2n) {
    background: #fff;
}

#thead-center tr th {
    text-align: center;
    vertical-align: middle;
}

#tbody-middle tr td {
    vertical-align: middle;
}

.container .title {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: -30px;
}

#search-text {
    margin-left: -18px;
}

.col-xs-3.pull-right {
    margin-right: -43px;
}

.pull-right .btn {
    margin-left: 10px;
}

.cursor1 {
    cursor: pointer;
    width: 28px;
    height: 20px;
    padding: 8px 12px;
    margin: 0 2px;
    border-radius: 4px;
    color: #fff;
    background-color: #D9534F;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.cursor2 {
    cursor: pointer;
    width: 28px;
    height: 20px;
    padding: 8px 12px;
    margin: 0 2px;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

#add-naw {
    background-color: #337ab7;
}

.del-modal, .del_model_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    display: none;
}

.myAddBtn {
    margin-top: 30px;
    margin-left: 20px;
}

.addMyBtn1 {
    background-color: #D9534F;
    margin-left: 20%;
}
.addMyBtn2 {
    background-color: #5cb85c;
}

.opBtn a {
    text-decoration: none;
}

.del_my_model {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    z-index: 9999;
    width: 360px;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    padding: 20px;
    background: #fff;
}

.del_my_model .title {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    margin-bottom: 20px;
}

.del_my_model .title .closeModel {
    float: right;
    cursor: pointer;
}

.del_my_model p {
    line-height: 16px;
}

.del_my_model .opBtn {
    margin-top: 20px;
}

.del_my_model .opBtn a {
    width: 58px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 1px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}

.del_my_model .dialog-sure {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
}

.del_my_model .dialog-close {
    background: #fff;
    border: 1px solid #d9d9d9;
}

.redact-con {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 398px;
    height: 546px;
    vertical-align: middle;
    background: #f9f9f9;
    z-index: 9999;
}

.redact-con tr, td {
    border: none;
    vertical-align: middle;
}

.redact-con td:first-child {
    text-align: right;
    /* border: 1px solid #000; */
}

.redact-con td:last-child {
    text-align: left;
}

.iconfont.icon-delete {
    position: absolute;
    top: 15px;
    right: 15px;
}

.checked-btn {
    cursor: pointer;
}

.foot {
    margin-top: 20px;
}